.right-border-1 {border-right: 1px solid #ccc;}
.right-border-2 {border-right: 2px solid #ccc;}
.right-border-3 {border-right: 3px solid #ccc;}
.right-border-4 {border-right: 4px solid #ccc;}
.right-border-5 {border-right: 5px solid #ccc;}